name: ARM Template Build and Test

on: push

jobs:
  build_and_test:
    name: Build and Test

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repo
      uses: actions/checkout@v2

    - name: Run the private action
      uses: ./
      with:
        files: '**/*.bicep'

    - name: Check the result
      shell: bash
      run: |
        ls -altR **/sample*.*
